<div class="jumbotron center">
<h1>Editing pin</h1>

<%= render 'form' %>

<%= link_to 'Show', @pin, class: "btn btn-default btn-xs" %> |
<%= link_to 'Back', pins_path, class: "btn btn-default btn-xs" %>
</div>