 <div class="jumbotron center">
		<%= image_tag @pin.image.url(:medium) %>
		<p>
		  <strong>Description:</strong>
		  <%= @pin.description %>
		</p>

		<%= link_to 'Edit', edit_pin_path(@pin), class: "btn btn-default btn-xs" %> |
		<%= link_to 'Back', pins_path,  class: "btn btn-default btn-xs" %>
</div>