<div class="jumbotron center">
     <h1>Learn Photography One Day At A Time</h1>
     

     <% if user_signed_in? %>
 		 <%= link_to "View Pins", pins_path, class: "btn btn-primary btn-lg" %>
     <% else %>	
       <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      <% end %> 
  </p>    
</div>


